.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.modal-content {
  width: 40%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  background-color: var(--navy-shadow-dark);
  padding: 28px 40px;
  border-radius: 5px;
  z-index: 99999;
  /* animation: slideFromBottom 0.4s forwards; handled by Angular */
  /* opacity: 0; handled by Angular */
  display: flex;
  flex-direction: column;
  gap: 6px;
  will-change: transform;
}

.modal-content ng-icon {
  font-size: var(--fz-lg);
  cursor: pointer;
  float: right;
  transition: 0.5s all;
  padding: 6px 8px;
  margin-top: -4px;
  border-radius: 8px;
}

.modal-content ng-icon:hover {
  background-color: var(--green-tint-opaque);
}

.modal-content h1 {
  color: var(--white);
  font-size: var(--fz-md);
  width: 87%;
}

.modal-content h3 {
  color: var(--white);
  font-size: var(--fz-x);
  flex-wrap: nowrap;
  font-weight: 500;
}

.modal-content p {
  color: var(--light-slate);
  font-size: var(--fz-xx);
  white-space: pre-line;
  margin-top: 5px;
}

@keyframes slideFromBottom {
  from {
    top: 100%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

.skills-content {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.skills-content .skill {
  display: flex;
  align-items: center;
  gap: 6px;
  background: var(--green-tint);
  padding: 6px 12px;
  border-radius: 30px;

  ng-icon {
    font-size: var(--fz-md);
    float: none;
    margin: 0;
    padding: 0;
  }

  p {
    color: var(--green);
    font-size: var(--fz-s);
    margin: 0;
  }
}

@media screen and (max-width: 1250px) {
  .modal-content {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .modal-content {
    width: 70%;
    max-height: 85%;
  }
}
