<div *ngIf="(isModalOpen$ | async) as modalOpen" class="modal-background" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="header">
            <ng-icon (click)="closeModal()" name="ionClose"></ng-icon>
            <h1>{{experience.title}}</h1>
        </div>
        <h3>{{experience.date}}</h3>
        <p>{{experience.description}}</p>
        <div class="skills-content">
            <div class="skill" *ngFor="let skill of experience.skills; trackBy: trackByFn">
                <p>{{skill}}</p>
            </div>
        </div>
    </div>
</div>