<div class="sidebar-content">
  <a class="logo">
    <span class="start-ring"></span>
    <span class="end-ring"></span>
    <span class="ring-border"></span>
    <span class="ring-text">E</span>
  </a>
  <header>
    <div class="profile-img-wrapper">
      <img src="assets/profile.jpeg" class="profile-img" alt="Everit Jhon">
    </div>
    <h1>Everit Jhon Molero</h1>
    <h3 class="important-light">Senior Frontend Engineer</h3>
    @if ((description$ | async); as description) {
      <p class="typed-text">{{description}}</p>
    }
    <main>
      <ul>
        @for (item of navItems; track item.id; let i = $index) {
          <li (click)="scrollToSection(item.id)"
              [class.active]="activeSection === item.id"
              [style.animation-delay]="(i * 100 + 200) + 'ms'">
            <div class="selector"></div>
            @if ((item.label$ | async); as label) {
              <a [href]="'#' + item.id">{{label}}</a>
            }
          </li>
        }
      </ul>
    </main>
  </header>
  <footer>
    <a href="https://www.linkedin.com/in/everit-jhon" target="_blank" class="social-icon">
      <ng-icon name="ionLogoLinkedin"></ng-icon>
    </a>
    <a href="mailto:everitjhon@gmail.com?subject=Contacto - Everit Jhon, Frontend Developer" target="_blank" class="social-icon">
      <ng-icon name="ionMail"></ng-icon>
    </a>
    <a id="cv" href="assets/cv.pdf" target="_blank" class="social-icon">
      <ng-icon name="ionDownload"></ng-icon>
    </a>
  </footer>
  <div class="scroll-top" [ngClass]="{'show': scrollToState}" (click)="scrollToInit()">
    <ng-icon name="ionChevronUp"></ng-icon>
  </div>

</div>
