<div class="sidebar-content">
    <a class="logo">
        <span class="start-ring"></span>
        <span class="end-ring"></span>
        <span class="ring-border"></span>
        <span class="ring-text">E</span>
    </a>
    <header>
        <h1>Everit Jhon Molero</h1>
        <h3 class="important-light">Senior Frontend Engineer</h3>
        <p>Desarrollo de soluciones IT atractivas, escalables y mantenibles.</p>
        <main>
            <ul>
                <li (click)="scrollToSection('about')" [class.active]="activeSection === 'about'">
                    <div class="selector"></div>
                    <a href="#about">ACERCA DE MÍ</a>
                </li>
                <li (click)="scrollToSection('experience')" [class.active]="activeSection === 'experience'">
                    <div class="selector"></div>
                    <a href="#experience">EXPERIENCIA</a>
                </li>
                <li (click)="scrollToSection('projects')" [class.active]="activeSection === 'projects'">
                    <div class="selector"></div>
                    <a href="#projects">PROYECTOS</a>
                </li>
            </ul>
        </main>
    </header>
    <footer>
        <a href="https://www.linkedin.com/in/everit-jhon" target="_blank">
            <ng-icon name="ionLogoLinkedin"></ng-icon>
        </a>
        <a href="mailto:everitjhon@gmail.com?subject=Contacto - Everit Jhon, Frontend Developer" target="_blank">
            <ng-icon name="ionMail"></ng-icon>
        </a>
        <a id="cv" href="assets/cv.pdf" target="_blank">
            <ng-icon name="ionDownload"></ng-icon>
        </a>
    </footer>
    <div class="scroll-top" [ngClass]="{'show': scrollToState}" (click)="scrollToInit()">
        <ng-icon name="ionChevronUp"></ng-icon>
    </div>

</div>