.projects-container {
  padding-top: 30px;
}
.projects-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  margin-bottom: 60px;
}
.projects {
  display: flex;
  gap: 10px;
  flex-direction: row;
  border-radius: 5px;
  cursor: pointer;
  padding: 16px 25px;
  transition: 0.4s all ease;
}

@media screen and (min-width: 600px) {
  .projects:hover {
    .content {
      .title {
        color: var(--green);
      }
    }
    background: var(--green-tint-opaque);
  }
  .projects-content:hover .projects {
    opacity: 0.35;
  }

  .projects-content:hover .projects:hover {
    opacity: 1;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .title {
    color: var(--white);
    font-size: var(--fz-xs);
  }
  .description {
    color: var(--light-slate);
    font-size: var(--fz-xxs);
    white-space: pre-line;
  }
}
.stack-content {
  display: flex;
  margin-top: 8px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  .stack {
    p {
      color: var(--green);
      background: var(--green-tint);
      font-size: var(--fz-x);
      padding: 6px 9px;
      border-radius: 30px;
    }
  }
}

.img-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  margin-top: 1.75px;
  .desk-img {
    width: 160px;
    height: 100px;
  }
  .desk-small-img {
    width: 120px;
    height: 80px;
  }
  .desk-big-img {
    width: 160px;
    height: 80px;
  }
  .mvl-img {
    height: 180px;
    max-width: 180px;
  }
  .logo-img {
    height: 90px;
    max-width: 90px;
  }
}

.head-title {
  font-size: var(--fz-lg);
  color: var(--white);
  margin: 25px 0px;
}

@media screen and (max-width: 500px) {
  .projects {
    flex-direction: column;
    gap: 30px;
  }
}
