<div class="projects-container">
  @if ((projects$ | async); as projects) {
    @if ((projectsText$ | async); as projectsText) {
      <h2 class="head-title">{{projectsText}}</h2>
    }
    <div class="projects-content">
      @for (p of projects; track trackByFn($index, p)) {
        <div (click)="openProjectsModal(p)" class="projects"
          [ngClass]="{'notselected': isHovered !== p.title}" (mouseenter)="isHovered = p.title"
          (mouseleave)="isHovered = null">
          <div class="img-content">
            <img loading="lazy" [class]="p.className" [src]="p.img" [alt]="p.title" />
          </div>
          <div class="content">
            <p class="title">{{p.title}}</p>
            <p class="description">{{p.description}}</p>
            <div class="stack-content">
              @for (tec of p.stack; track trackByFn($index, tec)) {
                <div class="stack">
                  @if (getSkillIcon(tec)) {
                    <ng-icon [name]="getSkillIcon(tec)" [color]="getSkillColor(tec)"></ng-icon>
                  }
                  <p>{{tec}}</p>
                </div>
              }
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
<projects-modal [project]="projectSelected"></projects-modal>