.base-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  min-width: 40%;
  padding-left: 30px;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 45%;
  margin-left: 44%;
}

.about-content {
  opacity: 0;
  animation: fadeIn 2s forwards;
  padding-top: 85px;
  pre {
    line-height: 17px;
    width: 88%;
    font-size: var(--fz-xxs);
    white-space: pre-wrap;
    color: var(--light-slate);
  }
}

@media screen and (max-width: 999px) {
  .content {
    width: 60%;
  }
  .about-content {
    padding-top: 95px;
    width: 95%;
  }
  .sidebar {
    padding-left: 0px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 860px) {
  .base-container {
    flex-direction: column;
  }
  .sidebar {
    position: static;
    min-width: auto;
  }
  .content {
    width: 88%;
    margin-left: 40px;
    margin-right: 0px;
    padding-right: 0px;
  }
}

.skeleton-loader {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skeleton-item {
  height: 20px;
  background-color: var(--navy);
  border-radius: 4px;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    background-color: var(--light-navy);
  }
  50% {
    background-color: var(--navy-shadow-dark);
  }
  100% {
    background-color: var(--slate);
  }
}
