<app-scroll-indicator></app-scroll-indicator>
<div class="base-container">
  <div class="sidebar">
    <app-sidebar #sidebar></app-sidebar>
  </div>
  <div class="content">
    <app-ai-chatbot id="about"></app-ai-chatbot>
    <div class="about-content">
      @if ((aboutContent$ | async); as about) {
        <pre [innerHTML]="about"></pre>
      }
    </div>
    <app-experience id="experience"></app-experience>
    <app-projects id="projects"></app-projects>
    <app-technologies id="technologies"></app-technologies>
</div>
</div>