<div class="base-container">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="content">
    <div id="about" class="about-content">
      <ng-container *ngIf="(aboutContent$ | async) as about">
        <pre [innerHTML]="about"></pre>
      </ng-container>
    </div>
    @defer (on viewport) {
    <app-experience id="experience"></app-experience>
    }@placeholder {
    <p></p>
    }
    @defer (on viewport) {
    <app-projects id="projects"></app-projects>
    }@placeholder {
    <p></p>
    }
    @defer (on viewport) {
    <app-technologies id="technologies"></app-technologies>
    }@placeholder {
    <p></p>
    }
  </div>
</div>