<div class="base-container">
  <div class="sidebar">
    <app-sidebar #sidebar></app-sidebar>
  </div>
  <div class="content">
    <div id="about" class="about-content">
      <ng-container *ngIf="(aboutContent$ | async) as about">
        <pre [innerHTML]="about"></pre>
      </ng-container>
    </div>
    <app-experience id="experience"></app-experience>
    @defer (on viewport; on hover(sidebar)) {
    <app-projects id="projects"></app-projects>
    }@placeholder(minimum 2s) {
    <div class="skeleton-loader">
      @for(sk of skeleton; track sk) {
      <div class="skeleton-item"></div>
      }
    </div>
    }
    @defer (on viewport; on hover(sidebar)) {
    <app-technologies id="technologies"></app-technologies>
    }@placeholder(minimum 2s) {
    <div class="skeleton-loader">
      @for(sk of skeleton; track sk) {
      <div class="skeleton-item"></div>
      }
    </div>
    }
  </div>
</div>