<div class="bgEffect" [style.--mouse-x.px]="mouseX" [style.--mouse-y.px]="mouseY"></div>
<ng-container *ngIf="!loadingScreen; else loadingScreenTemplate">
  <div class="fixed-container">
    <img class="flag" [src]="'assets/flags/'+langState+'.jpg'" />
    <select (change)="changeStateLanguage($event)" [(ngModel)]="langState" class="language-select">
      <option value="es">
        es
      </option>
      <option value="en">
        en
      </option>
    </select>
    <button (click)="toggleTheme()" class="theme-toggle">
      <span *ngIf="theme === 'light'">
        <i class="fa-solid fa-sun"></i>
      </span>
      <span *ngIf="theme === 'dark'">
        <i class="fa-solid fa-moon"></i>
      </span>
    </button>
  </div>
  <router-outlet></router-outlet>
</ng-container>
<ng-template #loadingScreenTemplate>
  <ng-container>
    <a class="logo">
      <span class="start-ring"></span>
      <span class="end-ring"></span>
      <span class="ring-border"></span>
      <span class="ring-text">E</span>
    </a>
  </ng-container>
</ng-template>