<div class="bgEffect" [style.--mouse-x.px]="mouseX" [style.--mouse-y.px]="mouseY"></div>
@if (!loadingScreen) {
  <div class="fixed-container">
    <app-language-selector></app-language-selector>
    <button (click)="toggleTheme()" class="theme-toggle">
      @if (theme === 'light') {
        <span>
          <i class="fa-solid fa-sun"></i>
        </span>
      }
      @if (theme === 'dark') {
        <span>
          <i class="fa-solid fa-moon"></i>
        </span>
      }
    </button>
  </div>
  <router-outlet></router-outlet>
} @else {
  <ng-container>
    <a class="logo">
      <span class="start-ring"></span>
      <span class="end-ring"></span>
      <span class="ring-border"></span>
      <span class="ring-text">E</span>
    </a>
  </ng-container>
}
