/* app.component.scss */
.bgEffect {
  position: fixed;
  z-index: -1;
  width: 115%;
  height: 115%;
  border-radius: 50%;
  background: radial-gradient(
    circle farthest-side,
    /* Utiliza farthest-side para asegurar una alta resolución */
      var(--light-navy),
    /* Opacidad inicial más baja */ var(--navy),
    /* Opacidad final más baja */ var(--navy)
  );
  pointer-events: none;
  top: calc(var(--mouse-y, 0px) - 55.5%);
  left: calc(var(--mouse-x, 0px) - 57%);
}

.logo {
  user-select: none;
  font-weight: bold;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  left: 50%;
  top: 50%;
  margin-top: -90px;
  margin-left: -30px;
  color: var(--green);
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 80px;
  height: 80px;
  line-height: 42px;
  border-radius: 180px;
  transform: translateY(18px) translateX(0);
  animation: zoomInFadeIn 1.2s forwards;
}

.logo.finished {
  animation: zoomOut 0.5s forwards;
}

.logo .start-ring,
a .end-ring {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-sizing: border-box;
  border: 2px var(--green) solid;
  opacity: 0;
}

.logo .start-ring {
  animation-name: start-ring;
  animation-duration: 2.85s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.logo .end-ring {
  animation-name: start-ring;
  animation-delay: 0.2s;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.logo .ring-border {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-sizing: border-box;
  border: 2px solid var(--green);
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation-name: start-heartbeat;
  animation-delay: 1.8s;
  animation-duration: 4.4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.logo .ring-text {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  font-size: 24.5px;
  margin-top: 18px;
  box-sizing: border-box;
  white-space: nowrap;
  opacity: 1;
}

.theme-toggle {
  position: fixed;
  right: 0;
  top: 0;
  margin-right: 31px;
  margin-top: 20px;
  z-index: 1;
  border: none;
  cursor: pointer;
  font-size: 33px;
  color: var(--white);
  outline: none;
  padding: 15px 20px;
  transition: 0.5s all;
  background: transparent;
  border-radius: 8px;
  &:hover {
    background: var(--green-tint-opaque);
  }
}

@keyframes start-ring {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  5% {
    opacity: 0;
    transform: scale(0.995);
  }
  12.667% {
    opacity: 1;
  }
  20.667% {
    opacity: 0;
    transform: scale(1.3);
  }
  30% {
    opacity: 0;
    transform: scale(1);
  }
  40% {
    opacity: 0;
    transform: scale(1);
  }
  46.667% {
    opacity: 1;
  }
  56.667% {
    opacity: 0;
    transform: scale(1.3);
  }
  60% {
    opacity: 0;
    transform: scale(1);
  }
  70% {
    opacity: 0;
    transform: scale(1);
  }
  76.667% {
    opacity: 1;
  }
  86.667% {
    opacity: 0;
    transform: scale(1.3);
  }
  90% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@media screen and (max-width: 500px) {
  .logo {
    width: 70px;
    height: 70px;
    margin-left: -40px;
    margin-top: -80px;
  }

  .logo .ring-text {
    font-size: 25px;
    margin-top: 13px;
  }

  .theme-toggle {
    margin-right: 16px;
    margin-top: 20px;
    font-size: 28px;
    background: var(--green-tint-opaque);
    padding: 10px 15px;
  }
}

@keyframes zoomInFadeIn {
  0% {
    opacity: 0; /* Iniciamos con opacidad 0 */
  }
  100% {
    opacity: 1; /* Terminamos con opacidad 1 */
  }
}
