<div class="experience-container">
  @if ((experience$ | async); as experience) {
    <div class="experience-content">
      @for (exp of experience; track exp) {
        <div (click)="openExperienceModal(exp)" class="experience"
          [ngClass]="{'notselected': isHovered !== exp.title}" (mouseenter)="isHovered = exp.title"
          (mouseleave)="isHovered = null">
          <div class="date-content">
            <p>{{exp.date}}</p>
          </div>
          <div class="content">
            <p class="title">{{exp.title}}</p>
            <p class="description">{{exp.description}}</p>
            <div class="skills-content">
              @for (skill of exp.skills; track trackByFn($index, skill)) {
                <div class="skill">
                  @if (getSkillIcon(skill)) {
                    <ng-icon [name]="getSkillIcon(skill)" [color]="getSkillColor(skill)"></ng-icon>
                  }
                  <p>{{skill}}</p>
                </div>
              }
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
<experience-modal [experience]="experienceSelected"></experience-modal>
