/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
}
html,
body {
  background-color: var(--navy);
  scroll-behavior: smooth;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  color: var(--white);
}

.important {
  transition: 0.4s all;
  color: var(--important);
  &:hover {
    cursor: pointer;
    color: var(--important-light);
  }
}

.important-light {
  transition: 0.4s all;
  color: var(--important-light);
  &:hover {
    cursor: pointer;
    color: var(--important);
  }
}
