/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth !important;
}
html,
body {
  background-color: var(--navy);
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  color: var(--white);
}

.important {
  transition: 0.4s all;
  color: var(--important);
  &:hover {
    cursor: pointer;
    color: var(--important-light);
  }
}

.important-light {
  transition: 0.4s all;
  color: var(--important-light);
  &:hover {
    cursor: pointer;
    color: var(--important);
  }
}

//animations

/* ZoomIn Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* SlideFromLeft Animation */
@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* SlideFromRight Animation */
@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* SlideFromBottom Animation */
@keyframes slideFromBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* SlideFromTop Animation */
@keyframes slideFromTop {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

//TODO: overflow

/* Ocultar el fondo del track de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 5px; /* Ancho de la barra de desplazamiento vertical */
}

/* Estilo del track de la barra de desplazamiento (la pista) */
::-webkit-scrollbar-track {
  background: transparent; /* Fondo transparente */
}

/* Estilo del thumb de la barra de desplazamiento (la barra) */
::-webkit-scrollbar-thumb {
  background-color: grey; /* Color de la barra */
  border-radius: 10px; /* Opcional: hace que la barra tenga bordes redondeados */
}

/* Opcional: cambiar el color de la barra al pasar el mouse sobre ella */
::-webkit-scrollbar-thumb:hover {
  background-color: darkgrey; /* Color de la barra al pasar el mouse */
}

/* Asegurarse de que el área de esquina sea transparente también */
::-webkit-scrollbar-corner {
  background: transparent; /* Fondo transparente */
}
