:root {
  --pink: #f57dff;
  --blue: #57cbff;
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --fz-s: 11px;
  --fz-x: 12px;
  --fz-xx: 13px;
  --fz-xxs: 14px;
  --fz-xs: 15px;
  --fz-sm: 16px;
  --fz-4sm: 16px;
  --fz-md: 17px;
  --fz-lg: 19px;
  --fz-xl: 21px;
  --fz-xxl: 23px;
  --fz-4xl: 29px;
  --fz-heading: 32px;
  --border-radius: 4px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --hamburger-width: 30px;
  --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ham-after-active: bottom 0.1s ease-out,
    transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;

  .dark {
    --navy: #0f1729;
    --navy-shadow-dark: #09142eeb;
    --light-navy: #082a69;
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --white: #e6f1ff;
    --important: #64ffda;
    --important-light: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100, 255, 219, 0.14);
    --green-tint-opaque: #1d355e5e;
  }

  .light {
    --navy: #b1bdd8;
    --navy-shadow-dark: #becede;
    --light-navy: #d7dcdd;
    --dark-slate: #cfd5e1;
    --slate: #646875;
    --light-slate: #646875;
    --white: #121212;
    --important: #e5fff8;
    --important-light: #1e1e1e;
    --green: #e5fff8;
    --green-tint: rgba(17, 95, 77, 0.101);
    --green-tint-opaque: #7691c029;
  }
}
