.technologies-container {
  padding-top: 55px;
}
.technologies-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  padding: 15px 20px;
  justify-content: center;
  gap: 12px;
  margin-bottom: 255px;
}

.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 80px;
  justify-content: center;
  width: 170px;
  gap: 18px;
  border-radius: 5px;
  padding: 30px 0px;
  transition: 0.3s all ease;
}

p {
  color: var(--light-slate);
}

img {
  height: 70px;
  max-width: 110px;
  border-radius: var(--border-radius);
}

.title {
  transition: 0.3s all;
}

@media screen and (min-width: 600px) {
  .technologies:hover {
    .title {
      color: var(--green);
    }
    background: var(--green-tint-opaque);
  }
  .technologies-content:hover .technologies {
    opacity: 0.35;
  }

  .technologies-content:hover .technologies:hover {
    opacity: 1;
    scale: 1.1;
  }
}

@media screen and (max-width: 500px) {
  .technologies-content {
    margin-left: -40px;
    gap: 6px;
  }
  img {
    height: 50px;
    max-width: 90px;
  }
}

@media screen and (max-width: 400px) {
  .technologies {
    height: 40px;
    width: 130px;
  }
  img {
    height: 45px;
    max-width: 75px;
  }
}
