<div class="technologies-container">
  @if ((technologies$ | async); as tech) {
    @if ((technologiesText$ | async); as technologiesText) {
      <h2 class="head-title">{{ technologiesText | titlecase }}</h2>
    }
    <div class="technologies-content">
      @for (tec of tech; track trackByFn($index, tec)) {
        <div class="technologies">
          @if (getSkillIcon(tec.tech)) {
            <ng-icon [name]="getSkillIcon(tec.tech)" [color]="getSkillColor(tec.tech)" class="tech-icon"></ng-icon>
          } @else {
            <img loading="lazy" [alt]="tec.tech" [src]="tec.src" />
          }
          <p class="title">{{tec.tech}}</p>
        </div>
      }
    </div>
  }
</div>